.jumbotron {
	text-align: center;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Seinfeld_logo.svg/1200px-Seinfeld_logo.svg.png");
	background-height: 800px;
	height: 400px;
}

.option {
	border: 2px red solid;
	border-radius: 20%;
	text-align: center;
	width: 150px;
}

.option:hover {
	cursor: pointer;
	font-weight: bolder;
	width: 170px;
	height: 30px;
}